@font-face {
    font-family: 'Cinzel';
    src: url('fonts/CinzelVariableFont_wght.eot');
    src: url('fonts/CinzelVariableFont_wght.eot') format('embedded-opentype'),
         url('fonts/CinzelVariableFont_wght.woff2') format('woff2'),
         url('fonts/CinzelVariableFont_wght.woff') format('woff'),
         url('fonts/CinzelVariableFont_wght.ttf') format('truetype'),
         url('fonts/CinzelVariableFont_wght.svg#CinzelVariableFont_wght') format('svg');
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #020011;
    color: #fff;
    font-family: "Inter";
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}

.navHeading {
    font-size: 1rem;
    margin-right: 1rem;
    font-weight: 700;
    margin: 0 0 0 1rem;
}

/* HERO SECTION */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem auto 0;
    background: #020011;
    background: linear-gradient(180deg, #020011 0%, #000000 100%, #000000 100%);
}

.heroImage {
    height: 150px;
    width: 520px;
}

.countDownHolder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.countDownItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border: 1px solid #2d3239;
    margin: 0.5rem;
    min-width: 74px;
    border-radius: 12px;
}

.countDownItem .content {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.countDownItem .label {
    font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
    .heroImage {
        height: 100px;
        width: 300px;
    }
}

/* ABOUT SECTION */

.aboutMitafest {
    background-color: #050102;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/aboutBackground.webp) no-repeat;
    background-size: cover;
}

.contentHeading {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
    font-family: "Cinzel", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F1B539;
}

.gallery img {
    width: 500px;
    height: 285px;
}

.someText {
    font-family: "Inter";
    font-size: 0.7rem;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin: 3rem auto;   
}

@media screen and (max-width: 480px) {
    .gallery img {
        width: 300px;
        height: 171px;
    }
}

.blackToBlueTransition {
    background: #000000;
    background: linear-gradient(180deg, #000000 0%, #020011 100%, #020011 100%);
    height: 5vh;
}